version: '1.0.0-SNAPSHOT.b{build}'
skip_tags: true
environment:
  matrix:
    - JAVA_HOME: C:\Program Files\Java\jdk1.8.0
install:
  - ps: |
      Add-Type -AssemblyName System.IO.Compression.FileSystem
      if (!(Test-Path -Path "C:\maven" )) {
        (new-object System.Net.WebClient).DownloadFile('https://repo1.maven.org/maven2/org/apache/maven/apache-maven/3.5.4/apache-maven-3.5.4-bin.zip', 'C:\maven-bin.zip')
        [System.IO.Compression.ZipFile]::ExtractToDirectory("C:\maven-bin.zip", "C:\maven")
      }
  - cmd: SET PATH=C:\Program Files\Git\usr\bin;C:\maven\apache-maven-3.3.9\bin;%JAVA_HOME%\bin;%PATH%
  - cmd: SET MAVEN_OPTS=-Xmx2g
  - cmd: SET JAVA_OPTS=-Xmx2g
  - cmd: mvn --version
  - cmd: java -version
build_script:
  - mvn clean package -B -Dmaven.test.skip=true
test_script:
  - mvn -B verify
on_success: 
  - cmd: | 
      mvn -B jacoco:report
      curl -s https://codecov.io/bash > codecov.sh & exit 0
      bash "./codecov.sh" -c -F unittests -f target/site/jacoco/jacoco.xml & exit 0
cache:
  - C:\maven
  - C:\Users\appveyor\.m2 -> pom.xml
